$color-theme: #f67161;
$color-background: #f2f2f2;
$color-success: #00aa0a;
$color-warning: #ffb509;
$color-danger: #ff2f2f;
$color-info: #909399;
$color-border: #e3e6e9;

$color-text-primary: #333;
$color-text-regular: #666;
$color-text-secondary: #999;

$padding-vertical: 24px;
$padding-horizontal: 24px;
$padding: $padding-vertical $padding-horizontal;

$transition: 0.3s ease-in-out;

$aside-width: 220px;
$aside-width--collapse: 64px;
$aside-background: #2a2e33;

$header-height: 60px;
$header-fixed: false;

$footer-height: 60px;
