body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote, /* structural elements 结构元素 */
dl,
dt,
dd,
ul,
ol,
li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form,
fieldset,
legend,
button,
input,
textarea, /* form elements 表单元素 */
th,
td, /* table elements 表格元素 */
img/* img elements 图片元素 */ { border:medium none; margin: 0; padding: 0; }
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {}
input,
select,
form img,
button { vertical-align:middle; }
h1,
h2,
h3,
h4,
h5,
h6 { font-size: 100%; }
em { font-style:normal; }
/** 重置列表元素 **/
ul,
ol { list-style: none; }
/** 重置超链接元素 **/
a { text-decoration: none; color:#3c90ab; }
a:hover { text-decoration: underline;}
/** 重置图片元素 **/
img { border:none; }
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/** 清楚浮动 **/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
textarea, input{resize:none}
a, textarea, input, button{outline:none}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#nprogress .bar {
  background: $color-theme;
}
#nprogress .peg {
  box-shadow: 0 0 10px $color-theme, 0 0 5px $color-theme;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
img {
  vertical-align: middle;
}
.el-form[common] {
  max-width: 80%;
  .el-form-item {
    &__label {
      width: 120px;
    }
    &__content {
      margin-left: 120px;
    }
  }
  .el-select {
    width: 100%;
  }
}
.view > .el-card {
  border: none;
  border-radius: 0;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.fb {
  font-weight: bold;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.di {
  display: inline;
}
.tc {
  text-align: center;
}
.vam {
  vertical-align: middle;
}
.lh18 {
  line-height: 18px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
.lh26 {
  line-height: 26px;
}
.lh28 {
  line-height: 28px;
}
.lh30 {
  line-height: 30px;
}
.re {
  position: relative;
  z-index: 1;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.cp {
  cursor: pointer;
}
.layout .el-card.view {
  padding: 0;
}